<% layout("layout/boilerplate.ejs") -%>

<div class="row">
        <div class="col-6 offset-3">
                <div class="alert alert-danger  " role="alert">
                        <p><i class="fa-solid fa-triangle-exclamation"></i> &nbsp; <%=message%></p> 
                      </div>
        </div>
      
</div>
